In [3]:
import pandas as pd

In [5]:
## Create golf data
d = {
    "Outlook":["Rainy", "Rainy", "Overcast", "Sunny", "Sunny", "Sunny", "Overcast", "Rainy", "Rainy", "Sunny", "Rainy", "Overcast", "Overcast", "Sunny"],
    "Temperature":["Hot", "Hot", "Hot", "Mild", "Cool", "Cool", "Cool", "Mild", "Cool", "Mild", "Mild", "Mild", "Hot", "Mild" ],
    "Humidity": ["High","High","High","High", "Normal","Normal","Normal","High", "Normal","Normal", "Normal", "High", "Normal", "High"],
    "Windy": ["False", "True", "False","False","False", "True", "True", "False","False","False", "True", "True", "False", "True"],
    "Play Golf": ["No", "No", "Yes", "Yes", "Yes", "No", "Yes","No", "Yes", "Yes", "Yes", "Yes", "Yes", "No"]
}

In [6]:
for k in d:
    print(k, len(d[k]))

Outlook 14
Temperature 14
Humidity 14
Windy 14
Play Golf 14

In [7]:
data = pd.DataFrame(d)
print(data.shape)
data

(14, 5)

     Outlook Temperature Humidity  Windy Play Golf
0      Rainy         Hot     High  False        No
1      Rainy         Hot     High   True        No
2   Overcast         Hot     High  False       Yes
3      Sunny        Mild     High  False       Yes
4      Sunny        Cool   Normal  False       Yes
5      Sunny        Cool   Normal   True        No
6   Overcast        Cool   Normal   True       Yes
7      Rainy        Mild     High  False        No
8      Rainy        Cool   Normal  False       Yes
9      Sunny        Mild   Normal  False       Yes
10     Rainy        Mild   Normal   True       Yes
11  Overcast        Mild     High   True       Yes
12  Overcast         Hot   Normal  False       Yes
13     Sunny        Mild     High   True        No

In [8]:
# save data in csv format
data.to_csv("golf_data.csv", index=False)