In [ ]:
# !pip install beautifulsoup4
#!pip install requests

In [3]:
from bs4 import BeautifulSoup
import requests

In [5]:
html = requests.get("https://webscraper.io/test-sites/tables")

In [6]:
type(html)

requests.models.Response

In [8]:
html.status_code

200

In [10]:
soup = BeautifulSoup(html.content)

In [11]:
type(soup)

bs4.BeautifulSoup

In [15]:
tables = soup.find_all(name="table")

In [16]:
len(tables)

4

In [17]:
tables[0]

<table class="table table-bordered">
<thead>
<tr>
<th>#</th>
<th>First Name</th>
<th>Last Name</th>
<th>Username</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Mark</td>
<td>Otto</td>
<td>@mdo</td>
</tr>
<tr>
<td>2</td>
<td>Jacob</td>
<td>Thornton</td>
<td>@fat</td>
</tr>
<tr>
<td>3</td>
<td>Larry</td>
<td>the Bird</td>
<td>@twitter</td>
</tr>
</tbody>
</table>

In [51]:
heads = tables[0].find("thead").find_all("th")

In [52]:
for th in heads:
    print(th.text)

#
First Name
Last Name
Username

In [68]:
for i in range(len(tables)):
    print("+"*50)
    head = tables[i].find_all("th")
    if head:
        for th in head:
            print(th.text, " | ", end="")
        print()
    for row in tables[i].find("tbody").find_all("tr"):
        for col in row.find_all("td"):
            print(col.text, " | ", end="")
        print()

++++++++++++++++++++++++++++++++++++++++++++++++++
#  | First Name  | Last Name  | Username  |
1  | Mark  | Otto  | @mdo  |
2  | Jacob  | Thornton  | @fat  |
3  | Larry  | the Bird  | @twitter  |
++++++++++++++++++++++++++++++++++++++++++++++++++
#  | First Name  | Last Name  | Username  |
4  | Harry  | Potter  | @hp  |
5  | John  | Snow  | @dunno  |
6  | Tim  | Bean  | @timbean  |
++++++++++++++++++++++++++++++++++++++++++++++++++
#  | First Name  | Last Name  | Username  |

1  | Mark  | Otto  | @mdo  |
2  | Jacob  | Thornton  | @fat  |
3  | Larry  | the Bird  | @twitter  |
++++++++++++++++++++++++++++++++++++++++++++++++++
  | Person  | User data  | #  | First Name  | Last Name  | Username  |


-  | -  | -  | -  |
1  | Mark  | Otto  | @mdo  |
2  | Jacob  | Thornton  | @fat  |
3  | Larry  | the Bird  | @twitter  |

In [47]:
for h2 in soup.find_all("h2"):
    print(h2.text)

Semantically correct table with thead and tbody
Table without thead tag
Table with multiple header rows and an empty data row

In [48]:
soup.find_all("table", attrs={"class":"princey"})

[]

In [50]:
len(soup.find_all("table", attrs={"class":"table-bordered"}))

4

In [66]:
# can also access all th from tr tag only 
for i in range(len(tables)):
    print("\n","-"*50)
    for row in tables[i].find_all("tr"):
        for th in row.find_all("th"):
            print(th.text, " | ", end="")
        for col in row.find_all("td"):
            print(col.text, " | ", end="")
        print()

 --------------------------------------------------
#  | First Name  | Last Name  | Username  |
1  | Mark  | Otto  | @mdo  |
2  | Jacob  | Thornton  | @fat  |
3  | Larry  | the Bird  | @twitter  |

 --------------------------------------------------
#  | First Name  | Last Name  | Username  |
4  | Harry  | Potter  | @hp  |
5  | John  | Snow  | @dunno  |
6  | Tim  | Bean  | @timbean  |

 --------------------------------------------------
#  | First Name  | Last Name  | Username  |
1  | Mark  | Otto  | @mdo  |
2  | Jacob  | Thornton  | @fat  |
3  | Larry  | the Bird  | @twitter  |

 --------------------------------------------------
  | Person  | User data  |
#  | First Name  | Last Name  | Username  |
-  | -  | -  | -  |
1  | Mark  | Otto  | @mdo  |
2  | Jacob  | Thornton  | @fat  |
3  | Larry  | the Bird  | @twitter  |

In [ ]:
# https://pypi.org/project/beautifulsoup4/