In [2]:
d = {'apple' : 25,
    'banana' : 12,
    'guava' : 5
}
d

{'apple': 25, 'banana': 12, 'guava': 5}

In [3]:
# you can have heterogeneous values
d1 = {1 : 'a',
       2: 2,
       3 : True, 
       'a': 3.5
}
d1

{1: 'a', 2: 2, 3: True, 'a': 3.5}

In [4]:
d1['b'] = 4

print(d1)

{1: 'a', 2: 2, 3: True, 'a': 3.5, 'b': 4}

In [12]:
# iterate over a dictionary items

l = [1,2,3]
for el in l:
    print(el)

print()
for k in d.keys():
    print(k, "->", d[k])

1
2
3

apple -> 25
banana -> 12
guava -> 5

In [14]:
# iterating over dictionary is similar to ierating over its  keys
for k in d:
    print(k, d[k])

apple 25
banana 12
guava 5

In [20]:
print(d.items())

for el in d.items():
    key, val = el # unpacking my tuple
    print(key, val)

print()

for key, val in d.items():
    print(key, val, end=" ")

dict_items([('apple', 25), ('banana', 12), ('guava', 5)])
apple 25
banana 12
guava 5

apple 25 banana 12 guava 5

In [22]:
# modify the value corresponding to a key
l = [1,2,3]
l[2] = 100
print(l)


print(d)
d['guava'] = 10
print(d)

[1, 2, 100]
{'apple': 25, 'banana': 12, 'guava': 5}
{'apple': 25, 'banana': 12, 'guava': 10}

In [23]:
# delete a key
print(d)
del d['guava']
print(d)

{'apple': 25, 'banana': 12, 'guava': 10}
{'apple': 25, 'banana': 12}

In [25]:
print(l)

del l[2]
print(l)

[1, 2, 100]
[1, 2]

## Sets

In [26]:
s = {'Princey', 'Agrim', 'Rajiv'}
print(s) # set is a unordered collection

{'Rajiv', 'Princey', 'Agrim'}

In [28]:
s = {1, 1, 2 ,3, 4, 4, 4}
print(s) # cannot have duplicate elements in a set

{1, 2, 3, 4}

In [29]:
print(type(s))

<class 'set'>

In [31]:
# create an empty set
s = {} # empty dictionary

s = set() # empty set
print(type(s))

<class 'set'>

In [35]:
# can store heterogenous data
s = {1, 2, 'hello', True, (1,3)}
print(s)

{1, 2, (1, 3), 'hello'}

In [37]:
s = {[1, 2], 1 , 'a'} # cannot have a mutable datatype (list or dictionary)
print(s)

TypeError: unhashable type: 'list'

In [38]:
s = {1 , 2, 3}
print(s)

{1, 2, 3}

In [44]:
s.add(4) # set is a mutable data type
print(s)

s.add(3)
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [46]:
print(s)
s[4] # throws an error, since set is insubscriptable, meaning can't access individual elements

{1, 2, 3, 4}

TypeError: 'set' object is not subscriptable

In [48]:
# set uses
# 1. used to remove duplicate entries
l = [1 , 1, 2, 3, 4, 4, 5, 6, 7, 7]
unique = set(l)
print(unique)

{1, 2, 3, 4, 5, 6, 7}

In [52]:
# 2. membership testing: to search a particular element
l = [1 , 1, 2, 3, 4, 4, 5, 6, 7, 7]

inp = int(input())
for el in l:
    if el == inp:
        print('Found')
        break

Found
Present

In [56]:
if 100 in set(l): # condn evaluates to False
    print('Present')

if 2 in set(l): # condn evaluates to False
    print('Present')

Present

In [57]:
dir(set())

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

## Functions

In [60]:
n = 7
i = 2
ans = 1
while i<= n:
    ans = ans*i
    i += 1
print(ans)

5040

In [61]:
def factorial(n):
    i = 2
    ans = 1
    while i<= n:
        ans = ans*i
        i += 1
    return ans

In [62]:
# func call
n = 10
ans = factorial(n)
print(ans)

3628800

In [63]:
# func that doesn't return anything
def factorial2(n):
    i = 2
    ans = 1
    while i<= n:
        ans = ans*i
        i += 1
    print(ans)

In [65]:
ans = factorial2(14)
print(ans)

87178291200
None

In [66]:
a = 1
b = 4

In [67]:
print(type(a), type(b))

<class 'int'> <class 'int'>

In [68]:
a, b = factorial(10), factorial2(10)
print(a, b)

3628800
3628800 None

In [69]:
a , b = factorial, factorial2 # function is a class in python, fns are callable objects
print(type(a), type(b))

<class 'function'> <class 'function'>

In [ ]:
ans1, ans2 = a(4), b(4)
print(ans1, ans2)

In [72]:
def my_sum(a , b):
    return a+b

In [73]:
ans = my_sum(3, 2)
print(ans)

5

In [74]:
def sum_product(a, b):
    return a+b, a*b

In [80]:
ans = sum_product(4,3)
print(ans, type(ans))

# unpack your tuple
s, prod= sum_product(3,4)
print(s, prod)

(7, 12) <class 'tuple'>
7 12

In [84]:
def func(*args):
    print(args)

In [86]:
func(1, 3, 4, 'hello')

func(3, 4, 5)

(1, 3, 4, 'hello')
(3, 4, 5)

In [93]:
def func(a, b, *args):
    print(a)
    print(b)
    print(args)

In [94]:
func(3, 2)

3
2
()

In [88]:
func(3, 2, 4, 5, 6, 7)

3
2
(4, 5, 6, 7)

In [89]:
def func(*args, a, b):
    print(a)
    print(b)
    print(args)

In [92]:
func(2, 3, 4, 5, 6, b=5, a = 3)

3
5
(2, 3, 4, 5, 6)

In [103]:
# variable keyword arguments
def func(**kwargs):
    print(kwargs)
    print(kwargs['a'])
    print(kwargs['b'])
    print(kwargs['d'])

In [104]:
func(a=23, b=4, d= 'hi')

{'a': 23, 'b': 4, 'd': 'hi'}
23
4
hi

In [106]:
l = [1, 2, 3]
print(*l)

1 2 3

In [107]:
def func(a, b, *args):
    print(a)
    print(b)
    print(*args)

In [108]:
func(1, 2, 4, 5)

1
2
4 5

## List Comprehension

In [112]:
l = [1 , 2, 5 , -4]
sq = []
for el in l:
    sq.append(el**2)
print(sq)

[1, 4, 25, 16]

In [113]:
sq = [el**2 for el in l]
print(sq)

[1, 4, 25, 16]

In [114]:
even_sq = [el**2 for el in l if el%2==0]
print(even_sq)

[4, 16]

In [ ]:
even_sq = []
for el in l:
    if el%2 == 0:
        even_sq.append(el**2)

In [117]:
def check_odd(n):
    if n%2 == 1:
        return True
    else:
        return False

In [118]:
odd_l = [check_odd(n) for n in l]
print(l)
print(odd_l)

[1, 2, 5, -4]
[True, False, True, False]

In [119]:
l = [[1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]

# output we want
# ans = [1, 2, 3, 4, 5, 6, 7...]

ans = []
for el in l:
    for i in el:
        ans.append(i)
print(ans)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [120]:
ans = [el for li in l for el in li]
print(ans)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Nested list using list comprehension

In [124]:
l = [[1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]

ans = [[1, 4, 9],
        [16, 25, 36],
        [49, 64, 81]]

ans = [[num**2 for num in li] for li in l]
print(ans)

[[1, 4, 9], [16, 25, 36], [49, 64, 81]]

In [121]:
ans = [[(i,j) for i in range(1,3)] for j in range(1, 4)]
print(ans)

[[(1, 1), (2, 1)], [(1, 2), (2, 2)], [(1, 3), (2, 3)]]

In [123]:
## creating above list without list comprehension
ans = []

for i in range(1, 4):
    li = []
    for j in range(1, 3):
        li.append((j,i))
    ans.append(li)
print(ans)

[[(1, 1), (2, 1)], [(1, 2), (2, 2)], [(1, 3), (2, 3)]]